/* CSS Document */
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  word-wrap: break-word;
  transition: all 0.05s;
}

body,
html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', serif;
}

a {
  text-decoration: none;
  box-shadow: none;
  background: inherit;
}

a:hover,
a.active {
  color: #1379e0;
  font-weight: 600;
}

.form-control,
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 100 #fff inset;
  font-family: 'Montserrat', sans-serif;
}

.btn,
button,
.btn:focus,
button:focus,
.btn:hover,
button:hover {
  font-weight: 600;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border: none;
  color: #fff;
}

.border-success {
  border-color: #099a7e;
}

.border-primary {
  border-color: #1379e0;
}

.border-warning {
  border-color: #e7816e;
}

.text-success,
.btn-outline-success {
  color: #099a7e;
}

.text-primary,
.btn-outline-primary {
  color: #1379e0;
}

.text-warning,
.btn-outline-warning {
  color: #e7816e;
}

.bg-success,
.btn-success,
.btn-outline-success:hover {
  background: #099a7e;
}

.bg-primary,
.btn-primary,
.btn-outline-primary:hover {
  background: #1379e0;
}

.bg-warning,
.btn-warning,
.btn-outline-warning:hover {
  background: #e7816e;
}

.btn-link {
  box-shadow: none;
  color: #1379e0;
  font-weight: bold;
  padding-left: 0;
  text-decoration: none;
}

.clear {
  clear: both;
}

.pointer {
  box-shadow: none;
  cursor: pointer;
}
