/* CSS Document */
#app #cards .grid-item,
#app #cards .grid-sizer {
  width: 100%;
}

#app #cards .grid-item .title,
#app #cards .grid-item p {
  color: #ffffff;
}

#app #cards .grid-item.grid-item-white .title,
#app #cards .grid-item.grid-item-white p {
  color: #000000;
}

@media (min-width: 992px) {
  #app #cards .grid-item,
  #app #cards .grid-sizer {
    width: 32%;
  }

  #app #cards .gutter-sizer {
    width: 2%;
  }

  #app #cards .grid-item.grid-item--width2 {
    width: 64%;
  }
}
