#app #header {
  padding: 52px 50%;
}

#app #header .container-fluid,
#app #header .container-fluid a.navbar-brand {
  padding: 0;
}

#app #header .container-fluid a.navbar-brand img {
  width: 100%;
}

#app #header .container-fluid .navbar-nav a.nav-link {
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

#app #header .container-fluid .navbar-collapse.collapse button.btn {
  background: #1379e0;
  border-radius: 5px;
  padding: 2% 6%;
}

#app #header button.btn span {
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}

@media (min-width: 992px) {
  #app #header button.btn span {
    font-size: 25px;
  }
}
