#app #title div {
  overflow: hidden;
}

#app #title div h1.header-title {
  font-size: 100px;
  color: rgba(0, 0, 0, 0.05);
  line-height: 0.9em;
  margin: 0;
}

#app #title .text-right + div h1.header-title {
  left: -3%;
}

@media (min-width: 992px) {
  #app #title div h1.header-title {
    position: relative;
    right: -3%;
    font-size: 140px;
    top: -30px;
    line-height: 1.2em;
  }
}
